<body class="test">
  <%= render "partials/navbar"%>
  <h1><%= @city.name %> internet speed</h1>
  <%= @city.internet %>
  <%= link_to "city guide", city_guide_path(@city) %>
  <%= link_to 'Back', cities_path %>
  <div class="grid">
    <div class="sidebar"><%= render "partials/sidebar"%></div>
    <div class="header--city"><%= render "partials/header_city"%></div>
    <div class="why--city"><%= render "partials/city_love"%></div>
    <div class="life--quality"><%= render "partials/quality_life"%></div>
    <div class="proscons"><%= render "partials/proscons"%></div>
    <div class="cost-of-living">IS IT EXPENSIVE THO?!</div>
    <div class="moving-guide-link"><%= render "partials/city_move_to_guide"%></div>
  </div>
  <%= render "partials/loading_bar" %>
  <body>
